.nav{
    display: flex;
    justify-content: space-around;
}

.div1{
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    width: 158px;
    height: 300px;
    border-radius: 10%;
}
.img1{
    width: 140px;
    margin-left: 10px;
    border-radius: 20%;
    display: inline-block;
}
.h61{
    margin-left: 65px;
}
.a1{
    margin-left: 60px;
    margin-top: 150px;
}

.div2{
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    width: 158px;
    height: 300px;
    border-radius: 10%;
}

.img2{
    width: 140px;
    margin-left: 10px;
    border-radius: 20%;
    display: inline-block;
}
.h62{
    margin-left: 65px;
}
.a2{
    margin-left: 60px;
    margin-top: 150px;
}

.div3{
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    width: 158px;
    height: 300px;
    border-radius: 10%;
}

.img3{
    width: 140px;
    margin-left: 10px;
    border-radius: 20%;
    display: inline-block;
}
.h63{
    margin-left: 65px;
}
.a3{
    margin-left: 60px;
    margin-top: 150px;
}

.div4{
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    width: 158px;
    height: 300px;
    border-radius: 10%;
}

.img4{
    width: 140px;
    margin-left: 10px;
    border-radius: 20%;
    display: inline-block;
}
.h64{
    margin-left: 65px;
}
.a4{
    margin-left: 60px;
    margin-top: 150px;
}

.div5{
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    width: 158px;
    height: 300px;
    border-radius: 10%;
}

.img5{
    width: 140px;
    margin-left: 10px;
    border-radius: 20%;
    display: inline-block;
}
.h65{
    margin-left: 65px;
}
.a5{
    margin-left: 60px;
    margin-top: 150px;
}
.row{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box{
    border-style: solid;
    border-radius: 1rem;
    margin-top: 10px;
}

.div{
    margin-left: 5px; 
}
*{
    flex-wrap: wrap;
}
